<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-mousedown="stopProp($event)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{bookmark.title}}</h4>
      </div>
      <div class="modal-body">

        <div edit-bookmark
          bookmark="bookmark" 
          collection="collection"
          id="'edit-bookmark'"
          star-size="starSize"
          update="updateBookmark">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="dismissModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges(bookmark)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
