<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{bookmark.title}}</h4>
      </div>
      <div class="modal-body">
        <form novalidate class="simple-form">
          <div class="form-group">
            <label for="rating">Rating</label>
            <div id="rating" star-selector 
              bookmark="bookmark" 
              id="'edit-bookmark'"  
              update="updateBookmark">
            </div>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" ng-model="bookmark.title" id="title">
          </div>
          <input type="text" ng-repeat="(key, value) in bookmark.tags">
          {{key }}</input>

        </form>

        <div>{{ bookmark.dateAdded | timeSince }}</div>
        <div>{{ timeSince(bookmark.lastVisit) }}</div>
        <div>{{ bookmark.visits || 1 }}</div>
        <pre>{{ bookmark.url }}</pre>
        <pre>{{ bookmark }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="dismissModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="dismissModal(bookmark)">Save changes</button>
      </div>
    </div>
  </div>
</div>
