<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{bookmark.title}}</h4>
      </div>
      <div class="modal-body">
        <form novalidate class="simple-form">
          
          <div star-selector 
          bookmark="bookmark" 
          id="'edit-bookmark'" 
          size="starSize" 
          update="updateBookmark">
          </div>

          <div class="form-group-lg">
            <label for="title">Title</label>
            <input type="text" class="form-control" ng-model="bookmark.title" id="title">
          </div>

          <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" ng-model="tags" id="tags">
          </div>

          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea rows="3" class="form-control" ng-model="bookmark.notes" id="notes"></textarea>
          </div>
        </form>
        <pre>{{ bookmark.url }}</pre>
        <div class="row">
          <span class="col-md-4">Added: {{ bookmark.dateAdded | timeSince }}</span>
          <span class="col-md-4">Last Visit: {{ bookmark.lastVisit | timeSince }}</span>
          <span class="col-md-4">Visits: {{ bookmark.visits || 1 }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="dismissModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges(bookmark)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
