<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-mousedown="stopProp($event)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Multiple Items Selected</h4>
      </div>
      <div class="modal-body">
        <h1>Are you sure?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" remove-modal class="btn btn-default" ng-click="dismissModal(false)" data-dismiss="modal">No</button>
        <button type="button" remove-modal class="btn btn-primary" ng-click="dismissModal(true)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
