<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/angular-ui/build/angular-ui.min.css">
  <link rel="stylesheet" type="text/css" href="../app.css">
  <link rel="stylesheet" type="text/css" href="popup.css">
</head>

<body style="width: 400px" ng-app="app" ng-controller="popup">
<form>
  <div edit-bookmark 
    bookmark="newStarmark"
    collection="collection"
    id="'newStarmark'"
    star-size="starSize"
    update="close">
  </div>
  <button type="submit" value="Update" class="btn btn-primary btn-block" ng-click="close(newStarmark)">Update</button>
  <button class="btn btn-xs btn-default btn-block" ng-click="openManager()">Manage Bookmarks</button>
  </form>

  <script src="../assets/js/underscore-min.js"></script>
  <script src="../assets/js/ng-infinite-scroll.min.js"></script>
  <script src="../../bower_components/angular/angular.min.js"></script>
  <script src="../../bower_components/angular-ui/build/angular-ui.min.js"></script>
  <script src="../../bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
  <script src="../../bower_components/angular-advanced-searchbox/dist/angular-advanced-searchbox-tpls.min.js"></script>
  <script src="../../bower_components/angular-multiple-selection/multiple-selection.min.js"></script>
  <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../app.js"></script>
  <script src="../components/starmarks/starmarks.service.js"></script>
  <script src="../components/star-selector/star-selector.directive.js"></script>
  <script src="../components/edit-bookmark/edit-bookmark.directive.js"></script>
  <script src="popup.controller.js"></script>
</body>

</html>
