/*https://coolors.co/app/e3e6ef-666a86-2b4162-ecc8af-f28f3b*/
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2EDEE;
  color: #313E50;
  font-size: 16px;
}

header {
  background-color: #2B4162;
  border-bottom: solid 5px #FCF7F8;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #F28F3B;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-logo {
  font-family: 'Lobster', cursive;
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  margin:auto;

}

.title-bar {
  overflow: hidden;
  width: 90%;
}

.star-rating {

  font-weight: 100;
  font-size: 30px;
  white-space: nowrap;
  float: right;
  color: #F28F3B;
}

.star-url {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.star-title {
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
  margin-right: 5px;
  font-size: 30px;
}

.starmark-link,
.starmark-link:link,
.starmark-link:hover,
.starmark-link:active,
.starmark-link:visited {
  text-decoration: none;
  color: #2B4162;
}

.starmark-link:hover {
  color: #F28F3B;
}

.starmarks {
  width: 900px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.starmark {
  margin-top: 4px;
}

.starmark {
  border-radius: 5px;

}

.starmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #E3E6EF;
  padding: 15px;
  border: solid 1px #CED3DC;
  word-wrap: break-word;
}
