<fieldset class="rating" name="{{ bookmark.url }}" id="rating{{ $index }}">
	<input type="radio" id="star5-{{ $index }}" ng-model="bookmark.stars" ng-change="starMarks.update(bookmark.url, {stars: bookmark.stars })" ng-checked="{{bookmark.stars == 5}}" name="rating-{{ $index }}" value="5" />
	<label class = "full star" id = "5" for="star5-{{ $index }}" title="Awesome - 5 stars"></label>
	<input type="radio" id="star4-{{ $index }}" ng-model="bookmark.stars" ng-change="starMarks.update(bookmark.url, {stars: bookmark.stars })" ng-checked="{{bookmark.stars == 4}}" name="rating-{{ $index }}" value="4" />
	<label class = "full star" id = "4" for="star4-{{ $index }}" title="Pretty good - 4 stars"></label>
	<input type="radio" id="star3-{{ $index }}" ng-model="bookmark.stars" ng-change="starMarks.update(bookmark.url, {stars: bookmark.stars })" ng-checked="{{bookmark.stars == 3}}" name="rating-{{ $index }}" value="3" />
	<label class = "full star" id = "3" for="star3-{{ $index }}" title="Meh - 3 stars"></label>
	<input type="radio" id="star2-{{ $index }}" ng-model="bookmark.stars" ng-change="starMarks.update(bookmark.url, {stars: bookmark.stars })" ng-checked="{{bookmark.stars == 2}}" name="rating-{{ $index }}" value="2" />
	<label class = "full star" id = "2" for="star2-{{ $index }}" title="Kinda bad - 2 stars"></label>
	<input type="radio" id="star1-{{ $index }}" ng-model="bookmark.stars" ng-change="starMarks.update(bookmark.url, {stars: bookmark.stars })" ng-checked="{{bookmark.stars == 1}}" name="rating-{{ $index }}" value="1" />
	<label class = "full star" id = "1" for="star1-{{ $index }}" title="Sucks big time - 1 star"></label>
</fieldset>