/*https://coolors.co/app/e3e6ef-666a86-2b4162-ecc8af-f28f3b*/
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2EDEE;
  color: #313E50;
  font-size: 12px;
  height: 100%;
  
}

header {
  background-color: #2B4162;
  border-bottom: solid 5px #FCF7F8;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #F28F3B;
}



td {

  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-logo {
  font-family: 'Lobster', cursive;
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  margin:auto;

}

.table-headers {
  cursor: pointer;
}

.search-bar {
  width: 100%;
}

.title-bar {

}
.title-width {
  max-width: 300px;
  min-width: 100px;
}

.star-width

.clip-text {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: no wrap;
  width: inherit;
}


.bm-rating {
  font-weight: 100;
  font-size: 12px;
  min-width:140px;
  max-width: 140px;
  color: #F28F3B;
}

.star-url {
  font-size: 10px;
}

.bm-title { 
  max-width: 500px;
  min-width: 50px;
}

.titler,
.star-url {
  width: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.starmark-link,
.starmark-link:link,
.starmark-link:hover,
.starmark-link:active,
.starmark-link:visited {
  text-decoration: none;
  color: #2B4162;
}

.starmark-link:hover {
  color: #F28F3B;
}

.favicon {
  width:16px;
  margin-right: 5px;
  display: inline-block;
}

.starmarks {
  margin-top: 15px;

}

.starmark {
  margin-top: 0px;
  border-radius: 10px;

}

.loader {
  margin-left: auto;
  margin-right: auto;
}

.starmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #E3E6EF;
  padding: 0px;
  border: solid 1px #CED3DC;
  word-wrap: break-word;
}


/****** Date Selector *****/

.plan-date-selector {
  margin: 1em auto;
  color: #aaa;
  -webkit-font-smoothing: antialiased;
}
.plan-date-selector a {
  color: #aaa;
}
.plan-date-selector a:hover {
  color: #559DB7;
}
.plan-date-selector .prev, .plan-date-selector .next, .plan-date-selector .date-input-container {
  display: inline-block;
  vertical-align: top;
  float: left;
}
.plan-date-selector .prev, .plan-date-selector .next {
  margin: 0 0.5em;
}
.plan-date-selector .prev i, .plan-date-selector .next i {
  font-size: 3em;
  line-height: 0.75em;
}
.plan-date-selector .date-input-container {
  position: relative;
}
.plan-date-selector input[type="date"] {
  width: 240px;
  margin: 0;
  margin-right: 36px;
  color: #aaa;
  font-size: 16px;
  font-weight: bold;
  font-family: "Asap", sans-serif;
  border-color: #d8d8d8;
  border-radius: 3px;
  box-shadow: none;
}
.plan-date-selector input[type="date"]:focus {
  color: #559DB7;
}
.plan-date-selector .date-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 2em;
  width: 40px;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  text-align: center;
  background: -webkit-linear-gradient(#fcfcfc, #f7f7f7);
  background: linear-gradient(#fcfcfc, #f7f7f7);
  border: 1px solid #cdcdcd;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 1px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
