
header {
  background-color: #2B4162;
  border-bottom: solid 5px #FCF7F8;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #F28F3B;
}

.main-logo {
  font-family: 'Lobster', cursive;
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  margin:auto;
  position: absolute;
  z-index: 5;
}

.collection {
  font-weight:100;
  font-size:2em;
  position: absolute;
  top: 2px;
  left: 190px;
}

.row {
  margin: 0 !important;
}

.right-of-table, .left-of-table {
  position: fixed;
  height: 100%;
}

.right-of-table {
  top: 0px;
  right: 0px;
}

.left-of-table {
  top: 0px;
  left: 0px;
}

.selected {
    background-color: #FFF3B0 !important;
}
.selecting {
    background-color: #FFF3B0 !important;
}

.select-helper {
    position: absolute;
    border: 1px dashed grey;
    background: grey;
    opacity: 0.2;
}

.no-highlight {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mass-edit-bar {
  position: fixed;
  padding: 10px 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 30px;
  color: rgb(180, 180, 180);
  background: rgb(80, 80, 80);
  z-index: 5;
}
  
.mass-edit-btns {
  float:right;
}

.mass-edit-bar-spacer {
  height: 80px;
}

.edit-btn {
  display:none;
  margin-top: 0.5em;
  font-size:1.5em;
  color: rgb(180, 180, 180);
  position: absolute;
  right: 30px;
}

.starmark-row:hover .edit-btn {
    display: inline;
}

.bookmark-count{
  text-align: right;
  float: right;
}

.clickable {
  cursor: pointer;
}

.search-bar {
  width: 100%;
}

.title-width {
  min-width: 20px;
  max-width: 500px;
}

/*TODO: fix mobile size table overflow*/
.clip-text {
  white-space:nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: inherit;
}

.rating > label:before { 
  font-size: 1.5em;
}

.fixed-col-rating {
  min-width:130px;
  max-width:130px;
}

.fixed-col-100 {
  min-width:100px;
  max-width:100px;
}

.fixed-col-60 {
  min-width:60px;
  max-width:60px;
}

.tag {
  padding-right: 5px;
}

.tags {
  font-size: 12px;
  color: #F28F3B;
  display: inline-block;
  text-decoration: none;
}


.url {
  color: rgb(180, 180, 180);
  padding-left: 10px;
}

.starmark-link,
.starmark-link:link,
.starmark-link:hover,
.starmark-link:active,
.starmark-link:visited {
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  color: #2B4162;
}

.starmark-link:hover {
  color: #F28F3B;
}

.favicon {
  width:16px;
  padding-top: 11px;
  display: inline-block;
}

.loader {
  margin-left: auto;
  margin-right: auto;
}
