header {
  background-color: #2B4162;
  border-bottom: solid 5px #FCF7F8;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #F28F3B;
}

.main-logo {
  font-family: 'Lobster', cursive;
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  margin:auto;
}

.edit-btn {
  display: none;
}
    
.starmark-row:hover .edit-btn {
    display: block;
}

.bookmark-count{
  text-align: right;
  float: right;
}

.clickable {
  cursor: pointer;
}

.search-bar {
  width: 100%;
}

.title-width {
  min-width: 20px;
  max-width: 350px;
}

/*TODO: fix mobile size table overflow*/
.clip-text {
  white-space:nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: inherit;
}

.rating > label:before { 
  font-size: 1.5em;
}

.fixed-col-rating {
  min-width:130px;
  max-width:130px;
}

.fixed-col-100 {
  min-width:100px;
  max-width:100px;
}

.fixed-col-60 {
  min-width:60px;
  max-width:60px;
}

.tag {
  padding-right: 5px;
}

.tags {
  font-size: 12px;
  color: #F28F3B;
  display: inline-block;
  text-decoration: none;
}

.starmark-link,
.starmark-link:link,
.starmark-link:hover,
.starmark-link:active,
.starmark-link:visited {
  text-decoration: none;
  color: #2B4162;
}

.starmark-link:hover {
  color: #F28F3B;
}

.favicon {
  width:16px;
  margin-right: 5px;
  display: inline-block;
}

.loader {
  margin-left: auto;
  margin-right: auto;
}
